body {
  font-family: 'Outfit', sans-serif; 
  margin: 0px;
  box-sizing: border-box;
  background-color: hsl(217, 54%, 11%);
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    height: 580px;
    width: 340px;
    box-shadow: 0px -1px 7px 6px hsl(217, 54%, 11%);
}
.product-img {
    display: flex;
    height: 320px;
    position: relative;
}
.cadr-image {
    width: 90%;
    height: 93%;
    overflow: hidden;
    cursor: pointer;
    margin: 6%;
    position: relative;
    border-radius: 10px;
}
.cadr-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: background-color 0.5ms;
}
.cadr-image:hover::after {
    background-color: hsl(178, 100%, 50%, 0.5);
    background-position: center;
    background-image: url("/images/icon-view.svg");
    background-repeat: no-repeat;
}
.product-img .cadr-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.create img {
    display: flex;
    height: 32px;
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 10px;
}
.detail {
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
}
.detail h2 {
    display: inline-block;
    font-weight: initial;
}
.detail h2:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
.detail p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    user-select: none;
    margin-right: 10px;
    margin-top: 2px;
}
.RT {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
}
.ethereum {
    display: flex;
}
.ethereum img {
    width: 16%;
    margin-top: 4px;
    height: 18px;
}
.ethereum span {
    color: hsl(178, 100%, 50%);
    font-size: 18px;
    margin-left: 5px;
    user-select: none;
}
.time {
    display: flex;
}
.time img {
    width: 16%;
    height: 18px;
    margin-top: 4px;
}
.time span {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    margin-left: 5px;
    user-select: none;
}
.create {
    display: flex;
    margin-left: 20px;
}
.create p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    margin-left: 15px;
    user-select: none;
}
.create p span {
    color: white;
    font-size: 18px;

}
.create p span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
hr {
    width: 85%;
    justify-content: center;
    border-color: hsl(215, 51%, 70%);
}
.card>hr {
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 375px) {
    .card {
        width: 80%;
        height: 70%;
    }
}